*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: black 5px solid;
    background-color: #efefef;
}

.box{
    width: 100px;
    height: 100px;
    background-color: deepskyblue;
    border: 3px solid #ffffff;
    margin: 10px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center; /* alinha horizontalmente */
    align-items: center; /* alinha verticalmente */
}

h1, h2{
    text-align: center;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centralizar{
    justify-content: center;
    align-items: center;
}

.direita{
    justify-content: flex-end;
}

.esquerda{
    justify-content: flex-start;
}

.uniforme{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.evenly{
    justify-content: space-evenly;
}

.quebra-linha{
    flex-wrap: wrap;
}

.vertical{
    height: 350px;
    flex-direction: column;
}

.centro{
    align-items: center;
}
