*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cbe2fa;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: indigo;
    font-size: 36px;   /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    padding-top: 25px;
}

.fonte-primaria{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: darkred;
    margin: 25px;
}

.fonte-secundaria{
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-style: italic;
    color: darkgreen;
    margin: 25px;
    font-weight: 100;
    text-align: start;
}

.fonte-especial{
    font-family: monospace;
    font-size: 32px;
    text-align: end;
    color: black;
    text-transform: uppercase;
}

h1{
    margin: 25px;
}

.link{
    text-decoration: none;
    color: darkblue;
    font-size: 32px;
    border: 2px solid darkblue;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.link:hover{
    background-color: darkblue;
    color: white;
}

.link:active{
    background-color: darkmagenta;
    color: white;
    border-color: darkmagenta;
}